html{
    position: relative;
    min-height: 100vh;
    margin: 0;
}
body{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4em;
}
.block-header{
    color: black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #35424a;
}

#logo{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 48px;
    padding: 25px 5px 25px 5px;
}
ul{
    margin-right:20px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.wrapper{
    background-color:#F0F0F0;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    vertical-align: middle;

}

#bc{
    background-color:#e8491d;
    color: #ffffff; 
    position: absolute;
    bottom:0;
    width: 100%;
   
}

.btn{
    background-color: #35424a;
    color:white;
    border:1px solid black;
    margin: 10px 0 10px 0;
}
.btn:hover{
    background-color:#5D686E;
    color: white;
    border:1px solid black;
    font-weight: bold;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar-collapse li a { 
        text-align: center;
    }
    .footer-br{
        text-align: center;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .navbar-collapse li a { 
        text-align: center;
        }
    .footer-br{
        text-align: center;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .navbar-collapse li a { 
        text-align: center;
        
    }
    .footer-br{
        text-align: center;
    }
    
}