html{
    position: relative;
    min-height: 100vh;
    margin: 0;
}
body{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4em;
    padding-bottom: 50px;
}
.block-header{
    color: black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #35424a;
}

#logo{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 48px;
    padding: 25px 5px 25px 5px;
}
ul{
    margin-right:20px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.about h1{
    color: #35424a;
    margin: 2em;
}
.about img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.about span{
    display: block;
    color: #35424a;
    position: absolute;
    left: 115px;
}
.about .desc{
    padding: 2em;
    border-left: 4px solid #35424a;
}
.about .desc h3{
    color: #35424a;
    text-align: center;
} 
.about .desc p{
    line-height: 1.4em;
    color: #35424a;
}
.portfolio{
    margin: 4em 0;
    position: relative;
}
.portfolio h1{
    color:#35424a;
    margin: 2em;
}
.portfolio button{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
}
.portfolio img{
    height: 15rem;
    width: 100%;
    margin: 10px 0;
    border:1px  solid black;
}
footer{
    background-color:#e8491d;
    color: #ffffff; 
    position: absolute;
    bottom:0;
    width: 100%;
    padding-top:15px;
    

}
footer span .text-muted{
    color: #35424a; 
}

.btn{
    background-color: #35424a;
    color:white;
    border:1px solid black;
    margin: 10px 0 10px 0;
}
@media only screen and (max-width : 990px){
    .navbar-collapse li a { 
        text-align: center;
    }
    .nav-link{
        font-size: 25px;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar-collapse li a { 
        text-align: center;
    }
    .about .desc h3{
        text-align: center;
    } 
    .footer-br{
        text-align: center;
    }


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .navbar-collapse li a { 
        text-align: center;
    }
    .about .desc h3{
        text-align: center;
    } 
    .footer-br{
        text-align: center;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .navbar-collapse li a { 
        text-align: center;
        
    }
    .about .desc h3{
        text-align: center;
    } 
    
    .footer-br{
        text-align: center;
    }
    
}